<!DOCTYPE html>
{% load static %}
{%  block content %}
<html lang="en">

<!-- auth-forgot-password.html  Tue, 07 Jan 2020 03:39:47 GMT -->
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>Forgot Password </title>
<!-- General CSS Files -->
<link rel="stylesheet" href="{% static 'modules/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'modules/fontawesome/css/all.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

<!-- CSS Libraries -->

<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'css/components.min.css' %}">
</head>

<body class="layout-4">
    
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        <a href="{% url 'index' %}">
                        <img src="{% static 'img/logo-dark.png' %}" alt="logo" width="100" class="shadow-light rounded-circle">
                            </a>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Forgot Password</h4>
                        </div>
                        <div class="card-body">
                            <p class="text-muted">We will send a link to reset your password</p>
                            <form method="">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" id="swal-2">Forgot Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="simple-footer">
				<p class="text-center copyright-text"><a href="#">Copyright &copy; otis Foundation 2011-2022</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- General JS Scripts -->
<script src="{% static 'bundles/lib.vendor.bundle.js' %}"></script>
<script src="{% static 'js/CodiePie.js' %}"></script>

<!-- JS Libraies -->

<!-- Page Specific JS File -->

<!-- Template JS File -->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'modules/sweetalert/sweetalert.min.js' %}"></script>

<!-- Page Specific JS File -->
<script src="{% static 'js/page/modules-sweetalert.js' %}"></script>
</body>

{%  endblock content %}
</html>