<!DOCTYPE html>
{% load static %}
{%  block content %}
<html lang="en">

<!--   Tue, 07 Jan 2020 03:33:27 GMT -->
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>WellsFx</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
<!-- General CSS Files -->
<link rel="stylesheet" href="{% static 'modules/bootstrap/css/bootstrap.min.css' %}">
        <link href="{% static 'modules/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'modules/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/deposit.css' %}">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

<!-- CSS Libraries -->
<link rel="stylesheet" href="{% static 'modules/jqvmap/dist/jqvmap.min.css' %}">
<link rel="stylesheet" href="{% static 'modules/summernote/summernote-bs4.css' %}">
<link rel="stylesheet" href="{% static 'modules/owlcarousel2/dist/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'modules/owlcarousel2/dist/assets/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/skins/orange.css' %}">

<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'css/components.min.css' %}">
    <style>
        .tooltip {
          position: relative;
          display: inline-block;
        }

        .tooltip .tooltiptext {
          visibility: hidden;
          width: 140px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px;
          position: absolute;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -75px;
          opacity: 0;
          transition: opacity 0.3s;
        }

        .tooltip .tooltiptext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent;
        }

        .tooltip:hover .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
        </style>
</head>
<body class="layout-4">
<!-- Page Loader -->
    <div id="preloader">
        <div id="preloader-content">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="150px" viewBox="100 100 400 400" xml:space="preserve">
                <filter id="dropshadow" height="130%">
                <feGaussianBlur in="SourceAlpha" stdDeviation="5"/>
                <feOffset dx="0" dy="0" result="offsetblur"/>
                <feFlood flood-color="red"/>
                <feComposite in2="offsetblur" operator="in"/>
                <feMerge>
                <feMergeNode/>
                <feMergeNode in="SourceGraphic"/>
                </feMerge>
                </filter>
                <path class="path" fill="#000000" d="M446.089,261.45c6.135-41.001-25.084-63.033-67.769-77.735l13.844-55.532l-33.801-8.424l-13.48,54.068
                    c-8.896-2.217-18.015-4.304-27.091-6.371l13.568-54.429l-33.776-8.424l-13.861,55.521c-7.354-1.676-14.575-3.328-21.587-5.073
                    l0.034-0.171l-46.617-11.64l-8.993,36.102c0,0,25.08,5.746,24.549,6.105c13.689,3.42,16.159,12.478,15.75,19.658L208.93,357.23
                    c-1.675,4.158-5.925,10.401-15.494,8.031c0.338,0.485-24.579-6.134-24.579-6.134l-9.631,40.468l36.843,9.188
                    c8.178,2.051,16.209,4.19,24.098,6.217l-13.978,56.17l33.764,8.424l13.852-55.571c9.235,2.499,18.186,4.813,26.948,6.995
                    l-13.802,55.309l33.801,8.424l13.994-56.061c57.648,10.902,100.998,6.502,119.237-45.627c14.705-41.979-0.731-66.193-31.06-81.984
                    C425.008,305.984,441.655,291.455,446.089,261.45z M368.859,369.754c-10.455,41.983-81.128,19.285-104.052,13.589l18.562-74.404
                    C306.28,314.65,379.774,325.975,368.859,369.754z M379.302,260.846c-9.527,38.187-68.358,18.781-87.442,14.023l16.828-67.489
                    C327.767,212.14,389.234,221.02,379.302,260.846z"/>
            </svg>
        </div>
    </div>

<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>

        <!-- Start app top navbar -->
        <nav class="navbar navbar-expand-lg main-navbar">
            <form class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                    <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                </ul>

            </form>
            <ul class="navbar-nav navbar-right">
                <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
                    <div class="dropdown-menu dropdown-list dropdown-menu-right">
                    <div class="dropdown-header">Notifications
                        <div class="float-right">
                            <a href="#">Mark All As Read</a>
                        </div>
                    </div>
                    <div class="dropdown-list-content dropdown-list-icons">
                        <a href="#" class="dropdown-item">
                            <div class="dropdown-item-icon bg-info text-white">
                                <i class="fas fa-bell"></i>
                            </div>
                            <div class="dropdown-item-desc">
                                Welcome to wells fx!
                                <div class="time">Just Now</div>
                            </div>
                        </a>
                    </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                    <img alt="image" src="{{request.user.customer.profile_pic.url}}" class="rounded-circle mr-1">
                    <div class="d-sm-none d-lg-inline-block">Hello, {{request.user}}</div></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-title">Welcome</div>
                        <a href="{% url 'profile' %}" class="dropdown-item has-icon"><i class="far fa-user"></i> Profile</a>
                        <a href="{% url 'deposit' %}" class="dropdown-item has-icon"><i class="fas fa-bolt"></i> Deposit</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Start main left sidebar menu -->
        <div class="main-sidebar sidebar-style-3">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a href="{% url 'index' %}">WELLS FX</a>
                </div>
                <div class="sidebar-brand sidebar-brand-sm">
                    <a href="{% url 'index' %}">WF</a>
                </div>
                <ul class="sidebar-menu">
                    <li class="menu-header" >Dashboard</li>
                    <li class="dropdown active">
                        <a href="{% url 'home' %}" ><i class="fas fa-fire"></i><span>Dashboard</span></a>
                    </li>
                    <li class="menu-header">Starter</li>
                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Deposit/Widthraw</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="{% url 'deposit' %}">Deposit</a></li>

                            <li><a class="nav-link" href="{% url 'withdraw' %}">Withdraw</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Crypto Exchange</span></a>
                        <ul class="dropdown-menu">
                             <li><a class="nav-link" href="{% url 'crypto_exchange' %}">Crypto Exchange</a></li>
                             <li><a class="nav-link" href="{% url 'profit' %}">Profits</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>Transaction</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'transaction' %}">Transaction</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i> <span>Referral</span></a>
                        <ul class="dropdown-menu">
                            <li class="menu-sub-header">Referral</li>
                            <li><a class="nav-link" href="{% url 'refer' %}">Refer User</a></li>
                        </ul>
                    </li>
                    <li class="menu-header">Logins:</li>
                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fas fa-exclamation"></i> <span>Logout</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                            <li><a class="nav-link" href="{% url 'forgotten_password' %}">Forgotten Password</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>

        <!-- Start app main Content -->
        <div class="main-content">

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Profit rate</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="myBarChart"></canvas>
                                    </div>
                                    <hr>

                                    <code></code>
                                </div>
                            </div>

</div>
<script src="{% static 'bundles/lib.vendor.bundle.js' %}"></script>
<script src="{% static 'js/CodiePie.js' %}"></script>

<!-- JS Libraies -->
<script src="{% static 'modules/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'modules/chart.min.js' %}"></script>
<script src="{% static 'modules/owlcarousel2/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'modules/summernote/summernote-bs4.js' %}"></script>
<script src="{% static 'modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>

<!-- Page Specific JS File -->
        <script src="{% static 'js/chart-bar-demo.js' %}"></script>
<script src="{% static 'js/page/index.js' %}"></script>
<script src="{% static 'js/page/modules-apex.js' %}"></script>
<script src="{% static 'modules/apexcharts/apexcharts.min.js' %}"></script>

<!-- Template JS File -->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/custom1.js' %}"></script>
</body>
{%  endblock content %}
<!--   Tue, 07 Jan 2020 03:35:12 GMT -->
</html>