 {% load static %}
<link rel="stylesheet" href="{% static 'css/style7.css' %}">
<link rel="stylesheet" href="{% static 'css/style8.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">


<body class="main-layout">

      <div class="content">
        <div class="body-content">
          <h1>Your transaction will be processed in 24 hours</h1>
          <a href="{% url 'home' %}"> <button id="reset-button">Back To Dashboard!</button></a>
        </div>
      </div>
    <script src="{% static 'js/custom123.js' %} "></script>
    <script src="{% static 'js/jquery.min.js' %} "></script>
</body>